@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bitter Regular'), local('Bitter-Regular'), url(https://fonts.gstatic.com/s/bitter/v14/rax8HiqOu8IVPmn7f4xs.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Bitter Bold'), local('Bitter-Bold'), url(https://fonts.gstatic.com/s/bitter/v14/rax_HiqOu8IVPmnzxKl8Axha.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwIYqWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptrg8zYS_SKggPNwN4rWqZPBQ.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  color: #565656;
  font-family: 'Raleway', sans-serif;
}
body h1,
body h2 {
  font-family: 'Bitter', sans-serif;
}
body p {
  line-height: 1.8;
  font-weight: 500;
}
.nav {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.06);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  background: white;
  z-index: 100;
}
@media (max-width: 500px) {
  .nav {
    position: relative;
    height: 90px;
    flex-direction: column;
    padding: 0;
  }
}
.nav .nav-logo-container img {
  width: 50px;
}
.nav .nav-links {
  display: flex;
  text-align: center;
  height: 100%;
}
@media (max-width: 500px) {
  .nav .nav-links {
    justify-content: space-evenly;
    width: 100%;
    padding: 0 20px;
  }
}
.nav .nav-links a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  color: #565656;
  text-decoration: none;
  padding: 0 20px;
  border-bottom: 0 solid rgba(118, 50, 63, 0);
  white-space: nowrap;
  transition: 0.5s;
}
@media (max-width: 500px) {
  .nav .nav-links a {
    flex: 1;
    padding: 0;
  }
}
.nav .nav-links a:hover {
  color: #76323f;
  border-bottom: 2px solid #76323f;
}
.hero {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
@media (max-width: 500px) {
  .hero {
    position: relative;
    height: calc(100vh - 90px);
  }
}
.hero .hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  width: 800px;
  z-index: 2;
}
.hero .hero-content h1 {
  font-size: 4rem;
  margin-bottom: 24px;
  color: white;
}
.hero .hero-content p {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
.hero .hero-content .button {
  width: fit-content;
  margin-top: 15px;
  border-radius: 5px;
  background: white;
  padding: 20px 30px;
  text-decoration: none;
  color: #76323f;
  font-size: 1.4rem;
  font-weight: bold;
  border: 1px solid white;
}
.hero .hero-bg {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: blur(10px) brightness(85%);
  transform: scale(1.1);
  z-index: 1;
}
@media (max-width: 500px) {
  .hero .hero-bg {
    transform: scale(1.2);
  }
}
.content-container {
  top: 100vh;
  position: relative;
  width: 100%;
  background: white;
  padding: 30px 0;
}
@media (max-width: 500px) {
  .content-container {
    top: 0;
  }
}
.content-container .grid {
  max-width: 95%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .content-container .grid {
    margin-top: 20px;
  }
}
.content-container .grid .row {
  display: flex;
}
@media (max-width: 500px) {
  .content-container .grid .row {
    flex-direction: column;
  }
}
.content-container .grid .row .row-img-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 50%;
}
@media (max-width: 500px) {
  .content-container .grid .row .row-img-container {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .content-container .grid .row .row-img-container .book-img {
    max-height: 200px;
  }
}
.content-container .grid .row .row-img-container .team-member {
  max-width: 95%;
  max-height: 95%;
  width: 65%;
  cursor: pointer;
}
@media (max-width: 500px) {
  .content-container .grid .row .row-img-container .team-member {
    align-self: center;
    width: 90%;
    margin-bottom: 20px;
  }
}
.content-container .grid .row .row-img-container #alex-king {
  min-width: 65%;
}
@media (max-width: 500px) {
  .content-container .grid .row .row-img-container #alex-king {
    min-width: 90%;
  }
}
.content-container .grid .row .row-img-container .left-img {
  align-self: flex-end;
  margin-right: 10px;
}
@media (max-width: 500px) {
  .content-container .grid .row .row-img-container .left-img {
    align-self: center;
    margin-right: 0;
  }
}
.content-container .grid .row .row-img-container .right-img {
  align-self: flex-start;
  margin-left: 10px;
}
@media (max-width: 500px) {
  .content-container .grid .row .row-img-container .right-img {
    align-self: center;
    margin-left: 0;
  }
}
.content-container .grid .row img {
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
.content-container .grid .row .row-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 10%;
}
@media (max-width: 500px) {
  .content-container .grid .row .row-content {
    width: 100%;
    margin: 25px 0;
    padding: 5%;
  }
}
.content-container .grid .row .row-content h2 {
  color: #76323f;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.content-container .grid .reverse {
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .content-container .grid .reverse {
    flex-direction: column;
  }
}
