body {
    width: 100%;
    color: @color-blackboard;
    font-family: 'Raleway', sans-serif;

    h1,
    h2 {
        font-family: 'Bitter', sans-serif;
    }

    p {
        line-height: 1.8;
        font-weight: 500;
    }
}